:root{
    --primary-color: #FFC107;
    --primary-color-darker: #CC9A06;
    --white: #fff;
}

.btn.send-button {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #212529;
}

.btn.send-button:hover {
    background-color: var(--primary-color-darker);
    border-color: var(--primary-color-darker);
    color: #212529;
}

.image-bg{
    background-image: url(../img-contacto/contacto-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 450px;
    width: 100%;
}

.contenedor{
    max-width: 90rem;
    margin: 0 auto;
}

.contact-section {
    margin-top: -10rem;
    background-color: var(--white);
    position: relative;
    z-index: 1;
    border-radius: 1rem;
}
